@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Exo:wght@100;200;300;400;500;700&family=Playfair+Display:wght@400;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Exo", sans-serif;
  font-family: "Playfair Display", serif; */
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* FooterPageStylingIsHere */
.footer {
  font-family: "Andika", sans-serif;

  font-family: "Playfair Display", serif;
  height: 960px;
  /* border: 1px solid white; */
  padding: 100px 70px;

  color: rgba(255, 255, 255, 1);
  background: url(../assets/Layer2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.top-content {
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 20%;
  /* border: 1px solid yellow; */
}
.all-services,
.all-resources,
.industries-contact {
  width: 20%;
  /* border: 1px solid red; */
}

.footer li {
  list-style: none;
  font-size: 17px;
  margin: 5px 0px;
}
.footer .top-content h2 {
  margin: 0px 0px 50px 0px;
}
.footer .top-content .industries-contact .all-contact h2 {
  margin: 190px 0px 20px 0;
}
.social {
  /* border: 1px solid white; */
  width: 10%;
}

.social-icons {
  /* border: 1px solid white; */
  display: flex;
  padding: 2px 0px 2px 0px;
}
.facebook {
  background-color: white;
  border-radius: 50%;
  width: 65%;
}
.instagram,
.twitter {
  width: 100%;
}
.bottom-content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  font-weight: 400;
  font-size: 17px;
}
