@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,700;1,600&family=Exo:wght@100;200;300;400;500;700&family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap");

/* font-family: 'Exo', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif; */

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* footerSocialIconsStyling */
.facebook {
  background-color: white;
  border-radius: 50%;
  width: 65%;
}
.instagram,
.twitter {
  width: 100%;
}
/* footerSocialIconsStyling */

/* CardStylingIsHere */
.Resources {
  background-color: whitesmoke;
}
.IndustryNBlog {
  height: 1400px;
  padding: 50px 100px;
  color: black;
}
.card-header {
  margin: 50px 0px;
}
.card-header header {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 60px 50px;
}
.card-header header h2 {
  font-family: "Exo 2", sans-serif;
}
.card-header header p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #f5662a;
  margin-right: 10px;
}
.card-header header h2,
p {
  padding: 0;
  margin: 0;
}
.arrow {
  /* background-color: aqua; */
  width: 10%;
}

.card-header main {
  display: flex;
  justify-content: space-around;
}
.card {
  background-color: rgba(255, 255, 255, 1);
  width: 28%;
  padding: 10px 0px;
}
.card img {
  width: 100%;
}
.card footer {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #f5662a;
}
.card:nth-child(2) {
  margin-top: -30px;
}
.card p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.card p,
footer {
  margin: 3px 10px;
  padding: 10px;
}
.arrow {
  width: 40px;
}

/* NavbarStylingIsHere */
.navbar {
  display: flex;
  padding: 30px 0px;
}
.navbar a,
.navbar-text {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.42);
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 1px 0px 1px 0px;
}
.navbar .navbar-text {
  padding: 2.5px 1px 1.5px 1px;
  color: rgba(255, 255, 255, 0.42);
}
/* HeaderPageStyling */
.mainHeader {
  background-image: url(/resourceBG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  display: flex;
  padding: 50px 100px;
}

.right {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 50%;
  justify-content: space-between;
  align-items: flex-end;
}
.left {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.left .logo {
  margin: 20px 0px 40px 0px;
}
.left h2 {
  font-size: 96px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
}
.left p {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #fff;
}
.downarrow,
.hamburger {
  display: block;
  width: 20%;
  /* border: 1px solid black; */
  margin: 20px 10px 20px auto;
  margin-left: auto;
}
.downarrow,
.hamburger:hover {
  cursor: pointer;
}

/* Hiding scrollbar for browsers */

/*for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/*  for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
